// font family

$english-sans-family = "Helvetica Neue", "Arial"
$chinese-sans-family = "Xin Gothic", "Hiragino Sans GB", "WenQuanYi Micro Hei", "Microsoft YaHei"
$sans-family = $english-sans-family, $chinese-sans-family, sans-serif

// colors
$sand-color = #f9f9f7
$sand-color-light = #fcfdfe

$black-text-color = #222222
$dark-text-color = #4c4c4c
$light-text-color = #999999
$white-text-color = #dadada