// 1.1 Classy Buttons
//
// Classy buttons is clickable form action buttons,
// it is widely usage in forms.
//
// :hover - button when hovered
// :disabled - button when disabled
// .disabled - the same as :disabled
//
// Examples:
//   <button class="classy {{modifier}}">Button</button
//   <a class="button-classy {{modifier}}">Button</a>

button.classy, a.button-classy
  color: #d64
