/*
 * 2.1 Typical Form
 *
 * With a containning label and containning the form element.
 *
 * .required - This group is required to submit the form.
 *
 *     <dl class="form-typical {{modifier}}">
 *         <dt><label>Example Text</label></dt>
 *         <dd><input type="text" class="textfield" value="Example Value" /></dd>
 *     </dl>
 */

.form-typical {
  margin: 15px 0;
}
.form-typical dt {
  margin-bottom: 6px;
}
.form-typical dt label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.form-typical dd {
  margin: 0;
  padding: 0;
}
.form-typical .textfield {
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  background: #fafafa;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0 1px 1px;
  margin-right: 5px;
  width: 400px;
  padding: 6px;
  font-size: 14px;
  color: #666;
}
.form-typical.required label:after {
  margin-left: 4px;
  display: inline;
  content: '*';
  color: red;
}
